<br>
<div class="container-float">
    <% if @post.errors.present? %>
    <p class="text-danger">
        <%= @post.errors.full_messages.join(', ')%>
    </p>
    <% end %>
    <%= form_with(model: @post, local: true) do |form| %>
    <div>
        <div class="form-group " >
            <%= form.label :title %> <br>
            <%= form.text_field(:title, class: "form-control" ) %>
        </div>
        <div class="form-group" >
            <%= form.label :body %> <br>
            <%= form.text_area :body, cols: 50, rows: 5, class: "form-control"  %>
        </div>
        <%= form.submit "Create Post", class: "btn btn-outline-primary" %>
    </div>
    <% end %>
</div>