<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <%= render 'shared/navbar' %>
  <div class="container-fluid">
  <% if false %>
    <% flash.each do |type, message| %>
          <% if type == 'warning' %>
          <div class='container bg-<%= type %> p-3 rounded mb-2 shadow-sm'><%= message %></div>
          <% else %>
          <div class='bg-<%= type %> p-3 rounded mb-2 shadow-sm'>
            <%= message %>
          </div>
          <% end %>
    <% end %>
    <% end %>
    <%= yield %>
  </div>  
  </body>
</html>
